# Python.
_pycache_
.mypy_cache

# Editor configuration.
.vscode

# Virtual environment.
.venv

# Secrets and environment variables.
local.py

# Operating system.
.DS_Store

# Program data.
data
results
